body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
}

button {
  width: 100%;
  padding: 10px;
  color: black;
  font-size: 0.75rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
  border: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

#text-container {
  margin: 20px;
  font-size: 1.2rem;
}
